.container {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid gray;
  min-height: 50%;
  padding: 10px;
  border-radius: 5px
}

#wrapper {
  text-align: center;
}

#inputs {
  margin-bottom: 20px;
}

#stats {
  font-size: x-small;
}

body {
  background: #f9f9f9;
  font-family: sans-serif;
}

button, input {
  border-radius: 10px;
  padding: 5px;
  font-size: x-large;
}

button {
  width: 100px;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  color: white;
}

input {
  width: 400px;
  border: 1px solid #ccc;
  color: #555;

}

h1 {
  text-align: center;
  margin-bottom: 80px;
  font-size: xx-large;
}

#footer-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#error {
  color: #b73333;
}

#progress {
    height: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: lightgray;
}

#progress .filled {
    background-color: deeppink;
    border-radius: 5px;
    border-color: deeppink;
    height: 100%;
    width: 0;
}

#serverlog {
    height: 200px;
    overflow: hidden;
    list-style: none;
    text-align: left;
}
